<h1 class="yllw">All Comments</h1>

<%# Showing all of the comments for admin %>
<% @comments.each do |c| %>
  <div class="inline_block cBox">
    <p class="yllw"><%= c.title %></p>
    <p class="yllw"><%= c.content %></p>
    <%= link_to "Delete", comments_admin_index_path(c.id), :method => "delete" %>
  </div>
<% end %>