<h1 class="yllw">All Users</h1>

<%# Showing all users for admin and accessibility to remove them. %>
<% @users.each do |user| %>
  <div class="inline_block">
    <p class="yllw"><%= user.email %></p>
    <%= link_to 'Delete user', user, :method => 'delete', :class => "btn btn-outline-success my-2 my-sm-0" %>
  </div>
<% end %>
