/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 
 body {
	background: black;
}

.yllw{
    color: #EEC648;
    padding: 20px 0 20px 20px;
}

.td{
  color: #EEC648;
}

.badge{
    font-size: 1em;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.inline_block{
    display: inline-block;
    padding: 30px;
}

nav{
    padding-left: 30px;
    padding-right: 30px;
}

.container{
    background-color: #111;
    min-height: 98vh;
}

.bg-dark{
    display: flex;
    justify-content: space-between;
}
.box{
    display: block;
}

  #login .logContainer #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }

  #signup .logContainer #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 350px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .logContainer #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .logContainer #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  .home{
    display: inline-block;
    margin: 0 auto;
  }

  .centre{
    display: block;
    margin-top: 30px;
    
  }

  .thumb{
    margin: 30px;
  }

  .favIcon{
    height: 4%;
    margin-top: -390px;
  }

  